<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WoWDeveloperAssistant.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <WoWDeveloperAssistant.Properties.Settings>
            <setting name="Host" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="WorldDatabase" serializeAs="String">
                <value>world_shadowlands</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="UsingDB" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Vector" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Scripts" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Critters" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckPathOnDb" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CombatMovement" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckCreatureOnDB" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotfixDatabase" serializeAs="String">
                <value>hotfix_shadowlands</value>
            </setting>
            <setting name="DB2Database" serializeAs="String">
                <value>db2</value>
            </setting>
        </WoWDeveloperAssistant.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
