<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WoWDeveloperAssistant.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <userSettings>
        <WoWDeveloperAssistant.Properties.Settings>
            <setting name="Host" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>world_shadowlands</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="UsingDB" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Vector" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Scripts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Critters" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckDataOnDb" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CombatMovement" serializeAs="String">
                <value>True</value>
            </setting>
        </WoWDeveloperAssistant.Properties.Settings>
    </userSettings>
</configuration>